<%- include('partials/header') %>
<div class="jumbotron text-center">
  <h1 class="display-3">Already Have an account</h1>
  <p class="lead"><strong>Please go Back to Login Page</strong> </p>

</div>
