

<%- include('partials/header') %>
<div>
<img src="https://cdn.abcotvs.com/dip/images/4631963_110618-cc-ss-vote-button-img.jpg?w=1280&r=16:9"
 width="1500"height="400">
</div>
<form action="/already" method="post">
 <div class="form-check">
  <input class="form-check-input" type="radio" name="name" value="Pradeep" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Pradeep
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="name" value="Vishnu" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
   Vishnu
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="name" value="Rahul" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
   Rahul
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="name" value="Prithvi" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
     Prithvi
  </label>
</div>
<div class="form-check" >
  <input class="form-check-input" type="radio" name="name" value="Yashwanth" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
   Yashwanth
  </label>
</div>
<div class="border border-light p-3 mb-4">

  <div class=form-check">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</div>

</form>
